/* -----------------------------------------------
  fonts
--------------------------------------------------*/
@font-face {
  font-family: "Cafe24Danjunghae";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KOTRA_BOLD-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Dovemayo-Medium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* -----------------------------------------------
  시각적 숨김 처리
--------------------------------------------------*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  white-space: nowrap;
}

/* -----------------------------------------------
  기본 설정값
--------------------------------------------------*/
html {
  font-size: 4vw;
}

:root {
  --tit-color: #000;
  --txt-color: #744900;
  --mbti-color: #f0a600;
  --box-border-color: #ffc951;

  --tit-size: 3rem;
  --txt-size: 1.19rem;
  --mbti-size: 3.5rem;
  --btn-size: 1.75rem;
}

/* -----------------------------------------------
  공통 스타일
--------------------------------------------------*/
button {
  position: relative;
  display: inline-block;
  font-family: Cafe24Danjunghae;
}

button:hover {
  color: var(--txt-color);
}

.content-header {
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 100;
}

.wrap-titbg {
  position: relative;
}

.tit-sup {
  color: #ff8749;
  font-family: Dovemayo-Medium;
  font-weight: bold;
}

.tit-result {
  font-family: Cafe24Danjunghae;
}

.tit-sup-M { color: #ff5757; }
.tit-sup-B { color: #c54bff; }
.tit-sup-T { color: #5477ff; }
.tit-sup-I { color: #5bdf2e; }

.content-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txt-mbit {
  color: var(--mbti-color);
  font-family: KOTRA_BOLD-Bold;
}

.wrap-mbit-desc {
  display: inline-block;
  text-align: center;
}

.txt-mbit-desc {
  position: relative;
  color: var(--txt-color);
  text-align: center;
  font-family: Pretendard-Bold;
}

.desc-bg-img {
  position: absolute;
  transform: translateX(-50%);
  height: auto;
  z-index: -1;
}

.wrap-speech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  margin: 1rem auto;
}

.img-speech-bubble {
  width: 80%;
  opacity: 60%;
}

.txt-quote {
  position: absolute;
  color: var(--txt-color);
  text-align: center;
  font-family: Dovemayo-Medium;
  font-weight: bold;
}

.img-mbti {
  width: 95%;
  margin-bottom: 20px;
}

.main-txt-box {
  width: 90%;
  padding: 35px 15px;
  margin-bottom: 40px;
  text-align: left;
  border: 5px solid var(--box-border-color);
  background-color: rgba(255, 255, 255, 0.7);
}

.main-txt-box ul li {
  color: var(--txt-color);
  font-family: Dovemayo-Medium;
  font-weight: bold;
}

.main-txt-box ul li::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  background: url(../img/star.png) no-repeat center / contain;
}

.btn-box {
  margin-bottom: 30px;
}

.wrap-btn {
  display: flex;
  flex-direction: column;
}

.btn-with-bg .btn-bg {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

.content-footer {
  text-align: center;
}

.footer-copyright {
  color: var(--txt-color);
  opacity: 0.5;
  margin-bottom: 30px;
}

/* -----------------------------------------------
  PC 전용 영역 (최소 415px)
--------------------------------------------------*/
@media screen and (min-width: 415px) {
  html {
    width: 414px;
    margin: 0 auto;
  }

  body {
    margin: 0 auto;
    height: auto;
    background: url(../img/main_bg.png) top / 414px 1185px no-repeat;
  }

  .wrap-body {
    margin-left: auto;
  }

  button {
    margin-bottom: 30px;
    font-size: 28px;
  }

  .wrap-titbg img {
    width: 414px;
  }

  .wrap-tit-txt {
    position: absolute;
    top: 35.2px;
    left: 74px;
  }

  .tit-sup {
    margin-bottom: 4.8px;
    font-size: 22.4px;
  }

  .tit-result {
    font-size: 48px;
  }

  .content-main {
    margin-top: 181px;
  }

  .txt-mbit {
    font-size: 56px;
  }

  .txt-mbit-desc {
    font-size: 22.4px;
  }

  .desc-bg-img {
    top: 206px;
    width: 304px;
  }

  .wrap-speech {
    width: 90%;
    margin: 20px auto;
  }

  .txt-quote {
    top: 22px;
    font-size: 16px;
  }

  .main-txt-box ul li {
    font-size: 16px;
    line-height: 22px;
  }

  .main-txt-box ul li::before {
    width: 11px;
    height: 11px;
  }

  .btn-with-bg .btn-bg {
    top: -24px;
    left: -50px;
    width: 304px;
    height: auto;
  }

  .footer-copyright {
    font-size: 12.8px;
  }
}

/* -----------------------------------------------
  모바일 전용 영역 (최대 414px)
--------------------------------------------------*/
@media screen and (max-width: 414px) {
  body {
    background: url(../img/main_bg.png) top / cover no-repeat;
  }

  .pc-none {
    display: none;
  }

  button {
    margin-bottom: 1.9rem;
    font-size: var(--btn-size);
  }

  .content-header {
    left: 0;
    right: 0;
  }

  .wrap-titbg img {
    width: 100%;
  }

  .wrap-tit-txt {
    position: absolute;
    top: 2.2rem;
    left: 17%;
  }

  .tit-sup {
    margin-bottom: 0.3rem;
    font-size: 1.4rem;
  }

  .tit-result {
    font-size: var(--tit-size);
  }

  .content-main {
    margin-top: 11rem;
  }

  .txt-mbit {
    font-size: var(--mbti-size);
  }

  .txt-mbit-desc {
    font-size: 1.4rem;
  }

  .desc-bg-img {
    top: 12.5rem;
    left: 53%;
    width: 19rem;
  }

  .txt-quote {
    top: 1.4rem;
    font-size: 1rem;
  }

  .main-txt-box ul li {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .main-txt-box ul li::before {
    width: 0.7rem;
    height: 0.7rem;
  }

  .btn-with-bg .btn-bg {
    top: -0.1rem;
    left: -1.6rem;
    width: 16rem;
    height: 3rem;
  }

  .footer-copyright {
    font-size: 0.8rem;
  }
}