body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 414px;
    height: 100vh; 
    margin: 0 auto;

    background: linear-gradient(135deg, #f4f3ff 0%, #e6e4fa 100%);
}

/* main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

/* section .question-box */
.question-box {
    padding: 3rem;
    margin-bottom: 32px;
    
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(108, 99, 255, 0.15);
    
    text-align: center;
}

.question-box h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.2rem;
    word-break: keep-all;
}

/* section .answer-box */
.answer-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.answer-box a {
    padding: 1.5rem;

    background-color: #6c63ff;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(108, 99, 255, 0.15);

    text-align: center;
    word-break: keep-all;
}

.answer-box a:hover {
    background-color: #5a50d0;
    transform: scale(1.05);
}

/* main p */
main p {
    margin: 1rem auto;

    color: #4e48c7;
    font-size: 1.2rem;
    font-weight: 700;
}